<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Por si no te vuelvo a ver
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Por si no te vuelvo a ver</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <iframe style="width: 100%;height: 90vh;" allowusermedia  allow="camera;microphone" src="https://porsinotevuelvoaver.com/" frameborder="0"></iframe>
    
  </div>
</ion-content>
